# Eclipse project files
.classpath
.project
.factorypath
.settings/
.externalToolBuilders/
.apt_generated/


# Intellij project files
*.iml
.idea/

# Others
target/
ehcache/
logs/
*.log
*.log.*
*.log*
*.sql
